

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status.status %>
</p>

<p>
  <strong>Details:</strong>
  <%= @book.details %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @book.vendor_id %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @book.buyer_id %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
