<!DOCTYPE html>
<html>
  
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track"=>true %>
    <%= javascript_include_tag "application", "data-turbolinks-track"=>true %>
    <%= csrf_meta_tags %>
    
    <!-- data tables imports -->
    <script src = "//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    
    
  </head>
  
  <body>
    <!-- navbar code -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
   
      <div class="container">
        
        <nav role="navigation">
        
          <ul class="nav navbar-nav">
            <li class = "navbar-brand"> 
              <a href = "/"><strong>bookXchange</strong></a>
            </li>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/books">Browse</a>
            </li>
            <li>
              <a href="#">Sale</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            
            <!-- if logged in -->
            
          </ul>

            <div class = "pull-right login-area">
               <% if (current_user) %>
              <div>
                <a href = <%= "users/" + current_user.id.to_s %> class = "btn btn-success"><i class = 'fa fa-user'></i> My Profile</a>
                <%= link_to raw("<i class = 'fa fa-sign-out'></i> Signout"), "/signout", :class => "btn btn-default" %>
              </div>
              
              
            <% else %>
              <button id = "loginButton" class = "btn btn-default"><i class = "fa fa-sign-in"></i> Login</button>
            <% end %>
            
            
            <div id="loginModal" class="modalDialog pull-right">
              	<div>
              		<div class = "modalHeader">
              		  <strong>Login</strong>
              		</div>
              		<div class = "modalBody align-right">
                		<p>Hey! All you need is a facebook to use bookXchange! Other platform support is in development.
                		</p>
                		<div class = "align-right">
                	  <%= link_to raw("<i class = 'fa fa-facebook'></i> Sign In"), "/auth/facebook", :class => "btn btn-primary", :id => 'facebookBtn' %> 
                	  <button class = "btn btn-default" id = "closeLogin">Close</button>
                	  </div>
              	  </div>
              	</div>
              </div>
            
            
            </div>
            
            <!-- login popup -->

              
            
            
          </div>
        </nav>
      </div>
    </header>
    <!-- end navbar code -->
    <!-- begin content -->
    <div class="container container-secondary">
      <%=yield %>
    </div>
    <!-- end content -->
  </body>
  

  
</html>

<script>
$(document).ready(function(){
  $("#loginModal").hide();
  $("#loginButton").click(function(){
    $("#loginModal").show();
  })
  $("#closeLogin").click(function(){
    $("#loginModal").hide();
  })
  
})
        
</script>